<h1 class="title is-3" style="display: flex; flex: 1; justify-content: center;">Types</h1>
<div style="display: flex; flex: 1; justify-content: center;">
  <ul>
    <% @types.each do |type| %>
      <li>
      <%= link_to type.name, type %>
      </li>
    <% end %>
  </ul>
</div>
<%=link_to "Go Back", :back%>