<style>
  .title {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0;
  }

  .list {
    display: flex;
    flex: 1;
    justify-content: center;
  }
</style>

<h1 class="title">Types</h1>
<div class="list">
  <ul>
    <% @types.each do |type| %>
      <li>
      <%= link_to type.name, type %>
      </li>
    <% end %>
  </ul>
</div>
