<h1 class="title is-4">This is a dataset about Pokemon and players. I obtains it from Kaggle and faker.</h1>
<p>All the data about pokemon is pulled from a CSV file called Pokemon_Data.csv, and it will be divided into four tables.
the data about players is created by faker.</p>
<p>Pokemons and Types tables are from pokemon.</p>
<p>Players table is from faker.</p>
<p>The player_pokemons table is a bridge table between pokemons and players.</p>

<p>pokemons</p>
<p>-id, name, type_id, total, HP, attack, defense, speed, first_ability, second_ability, hidden_ability</p>
<p>types</p>
<p>-id, name</p>
<p>players</p>
<p>-id, name</p>
<p>player_pokemons</p>
<p>-player_id, pokemon_id</p>