<h1 style="display: flex; flex: 1; justify-content: center; margin: 0;">Players</h1>
<div style="display: flex; flex: 1; justify-content: center;">
  <ul>
    <% @players.each do |player| %>
      <li>
      <%= link_to player.name, player %>
      </li>
    <% end %>
  </ul>
</div>

<div class= "p-4 has-background-link-light m-4" style="width:60%;">
  <%= paginate @players %>
</div>
