<% content_for(:html_title) {@player.name}%>
<h1 class="title is-1" style="display: flex; flex: 1; justify-content: center; margin: 0;">
  <%= @player.name %>
</h1>

<div class="title is-3" style="display: flex; flex: 1; justify-content: center; margin: 0;">
  <% if @player.pokemons.count > 0 %>
    <h2>
      The player has <%= @player.pokemons.count %> pokemons.
    </h2>
  <% else %>
    <h2>
      The player has no pokemon.
    </h2>
  <% end %>
</div>

<div style="display: flex; flex: 1; justify-content: center;">
  <ul>
    <% @player.pokemons.each do |pokemon| %>
      <li><%= link_to pokemon.name, pokemon %></li>
    <% end %>
  </ul>
</div>

<%=link_to "Back to all players", players_path%>

