<h1 style="display: flex; flex: 1; justify-content: center; margin: 0;">Pokemons</h1>
<div style="display: flex; flex: 1; justify-content: center;">
  <ul>
    <% @pokemons.each do |pokemon| %>
      <li>
      <%= link_to pokemon.name, pokemon %>
      </li>
    <% end %>
  </ul>
</div>

<div class= "p-4 has-background-link-light m-4" style="width:60%;">
  <%= paginate @pokemons %>
</div>
<%=link_to "Go Back", :back%>